body{
    font-family: 'Work Sans', sans-serif;
    font-size: 1vw;
    overflow-x: hidden;
    scroll-behavior: smooth;

}
.ar{
    font-family: 'Tajawal', sans-serif !important;
    
}

.carousel-item > img{
    height: 400px;
    width: auto !important;
    margin: auto;
}
html {
    scroll-behavior: smooth;
    background-color:black;
  }
  .languge-box{
      position: absolute;
      width: 100%;
  }
  .languge-box ul{
      list-style: none;
      display: flex;
      direction: ltr;
      
  }

  .languge-box li{
    margin: 20px;
    font-size:0.7em;
    justify-content: flex-end;
}

    .languge-box a{
        text-decoration: none;
        color: #fff;
    }

    .current-languge{
        background-color: white;
    }


nav{
    padding-top: 5%;
    margin: auto;
    align-items: center;
    align-content: center;
}

nav a{
    color: #fff;
    font-size:2em;
    font-weight: 300;
    margin-right:2em;
}
a.btn-gradient:hover{
    text-decoration: none;
}

#home{
    background-image: url("../Riyadh4.jpg");
    background-repeat: no-repeat;
    background-size: cover;

	height: 100vh;
	color: #fff;
	/* background: linear-gradient(-80deg, #f5cb5c, #949494, #949494, #f5cb5c);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite; */
    background-color: black;
}

.logo-box{
    width:100%;
    overflow: hidden;
    position: relative;
}
.logo{

    display: block;
    width: 40%;
    margin: auto;
    padding-top: 3.5%;
}
.main-title{
    font-size: 5em;
    font-weight: 300;
    margin-top: -13%;
    text-align: center;
    font-family: 'Work Sans', sans-serif !important;
}

/* .main-title::after{
    content: "";
    position: absolute;
    Display: block;
    left: 0;
    width: 100%;
    height: 12px;
    background: linear-gradient(-80deg, #f5cb5c, #949494, #949494, #f5cb5c);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
} */
/* 
.gradient-box{
    display: inline-block;
    background: linear-gradient(-80deg, #f5cb5c, #949494, #949494, #f5cb5c);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
} */

#about{
    height: auto;
    padding-bottom: 10vh;
  
}

.about-title{
    text-align: center;
    margin-top:120px;
    font-size: 4em;
    padding-bottom: -2px;
    color: #000;
    font-weight: 300;
}


.about-sub-title{
    text-align: center;
    font-size: 2.5em;
    padding-bottom: -2px;
}

.about-sub-block{
    padding-top: 10%;
    padding-bottom: 10%;
    margin-top: 180px;
    width: 80%;
    margin: auto;
    line-height: 1.6;
}

.block-text{
    padding-top:10px;
    text-align: center;
    margin: auto;
    width: 75%;
    font-size: 1.6em;
}

#team{
    padding-bottom: 20vh;
}

.team-title{
    text-align: center;
    font-size: 4em;
    padding-bottom: -2px;
    color: #000;
    font-weight: 300;
}

.black-flex{
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    background-color: rgb(255, 255, 255);
    margin: auto;
    border-style: solid;
    border-left: none;
    border-right: none;
    margin-top: 10%;
    text-align: center;

}



.team-mem{
    margin: 20px;
    color: black;
    font-size: 1.8em;
    padding: 20px;
    /* text-align: center; */
}

.btn-gradient{
	background: linear-gradient(-80deg, #f5cb5c, #949494, #949494, #f5cb5c);
	background-size: 400% 400%;
	-webkit-animation: Gradient 5s ease infinite;
    -moz-animation: Gradient 5s ease infinite;
    animation: Gradient 5s ease infinite;
    box-sizing: border-box;
	color: #000;
	display: block;
	font-size: 1.8em;
	height: 80px;
	letter-spacing: 1px;
	margin: 80px auto;
	padding: 4px;
	position: relative;
    text-decoration: none;
	text-transform: uppercase;
	width: 264px;
	z-index: 2;
}

.btn-gradient:hover {
	color: #fff;
}

.btn-gradient span {
	align-items: center;
	background: #fff;
	display: flex;
	justify-content: center;
	height: 100%;
	transition: background .5s ease;
	width: 100%;
}

.btn-gradient:hover span {
	background: transparent;
}
 
#services{
    height: 45vh;
 
}


.services-title{
  
    padding-top: 20px;
    font-size: 4em;
    text-align: center;

}

.contact-box{
    width: 70%;
    margin:auto; 
    padding-top:20px;
}

#Form{
    height:auto;
    padding-bottom: 80px;
}





.form-sub-title{
    font-size: 3em;
    font-weight: 300;
}
.email-box{
    margin-top: 31px;
}
.email-form{
    margin-top:60px;
}
.service-form{
    margin-top:40px;
}

.q-form{
    font-size: 1.5em;

}

.gradient-background{
     background: linear-gradient(-80deg, #f5cb5c, #949494, #949494, #f5cb5c);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;

}
  .gradient-separator{
    display: block;
    width: 18%;
    height: 6px;
    margin: auto;
    background: linear-gradient(-80deg, #f5cb5c, #949494, #949494, #f5cb5c);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite; 
    text-align: center;
  }
  .gradient-separator-ss{
    display: block;
    width: 25%;
    height: 3px;
    margin: auto;
    background: linear-gradient(-80deg, #f5cb5c, #949494, #949494, #f5cb5c);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite; 
    text-align: center;
  }

  .gradient-separator-long{
    display: block;
    width: 55%;
    height: 3px;
    margin: auto;
    background: linear-gradient(-80deg, #f5cb5c, #949494, #949494, #f5cb5c);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite; 
    text-align: center;
  }

.black-box{
    display: block;
    width:90%;
    margin: auto;
    background-color: black;
}

.services-text{
    color:black;
    text-align: justify;
    line-height: 1.6;
    width: 90%;
    font-size: 1.8em;
    margin: auto;
    padding-top:40px;
    padding-bottom: 40px;
}

.textcenter{
    text-align: center;
}
.myButton {
	background-color:#f5cc5c;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:17px;
	padding:10px 10px;
    text-decoration:none;
    margin-right: 20px;
    margin-left: 20px;
}

.pluseMinusbtn{
    width: 50px;
}

.text-num{
    width: 60px;
    background-clip: padding-box;
    border: 1px solid #ced4da;
 
}
.myButton:hover {
	background-color:#e6c068;
}
.myButton:active {
	position:relative;
	top:1px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    margin: 40px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }
  
  .flexguard{
  display:flex;
  flex-direction : row;
  align-content: center;
  justify-content: center;
  
  }

  .flex-container h4{
      margin-top: 10px;
  }
  /* .female{
      margin-left: -20px;
  } */

  .male{
      margin-left: 22px;
  }

  #footer{
      height:auto;
      background-color: #000;
  }

  .soical-flex{
    display: flex;
    margin: auto;
    align-content: center;
    justify-content: center;
}
.socail-svg{
    width: 40px;
    height: 40px;
    margin: 20px;
}
a .twitter:hover path{
    fill: #1dcaff;
    transition: all ease 0.3s;
}
a .instagram:hover path{
    fill: #bc2a8d;
    transition: all ease 0.3s;
}

.gradient-separator-full{
    display: block;
    margin-top:-10px;
    width: 100%;
    height: 5px;
    background: linear-gradient(-80deg, #f5cb5c, #949494, #949494, #f5cb5c);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite; 
    text-align: center;
}

.footer-text{
    color: #fff;
    font-size: 1.2em;
    text-align: center;
}

.hide{
   display:none;
}

a.underline-link {
    position: relative;
   
    text-decoration: none;
  }
  
  a.underline-link:hover {
   color: white;
  }
  
  a.underline-link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -5px;
    left: 0;
    background: linear-gradient(-80deg, #f5cb5c, #949494, #949494, #f5cb5c);
	background-size: 400% 400%;
	-webkit-animation: Gradient 3.5s ease infinite;
	-moz-animation: Gradient 3.5s ease infinite;
    animation: Gradient 3.5s ease infinite; 
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
  }
  
  a.underline-link:hover::before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.linear-wipe {
    background: linear-gradient(to right,#f5cb5c, #949494, #949494, #f5cb5c 80%);
    background-size: 200% auto;
    color: #000;
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: shine 4s linear infinite;
            animation: shine 4s linear infinite;
  }
  @-webkit-keyframes shine {
    to {
      background-position: 200% center;
    }
  }
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
  
  @media only screen and (min-width: 440px){
    .btn{
        border-radius: 0px !important;
    }
  }

  

  @media only screen and (max-width: 440px){
 
    body{
        font-size: 2vw;
    }

    #home{
        height: 78vh;
        background-image: url("../mobile.jpg");
    }

    .hide-mobile{
        display: none;
    }
    .carousel-item > img{
        height: 200px;
        width: auto !important;
        margin: auto;
    }
    a.underline-link {
        position: relative;
        font-size: 1.5em;
        margin: auto;
        padding: 15px;
        text-decoration: none;
      }
      
      a.underline-link:hover {
       color: white;
      }
      

  
  a.underline-link::before {
    height: 0px;
  }
      


    .main-title{
       font-size: 4.2em;
    }

    .logo{
       padding-top:30%;
    }

    .gradient-separator{
        height: 4px;
        width: 30%;
    }

    .block-text{
        font-size: 2.2em;
        width: 95%;
        line-height: 1.8;
    }

    .flex-container {
        flex-direction: column;
        margin: auto;
      }

      .btn-gradient{
        width: 120px;
        height: 60px;
      }

      #services{
        height: 45vh;
     
    }
     
      .m-myButton {
       font-size:16px; 
       border-radius: 100%;
       width: 50px;
       height: 50px;
       margin-top: 10px;
       margin-bottom: 10px;
       vertical-align: middle;
       float:right;
        overflow:visible;
        vertical-align:text-top;
        text-align:center;
        text-overflow: ellipsis
     }

     .contact-box{
        width: 95%;
        text-align: center;
    }

    .q-form{
        font-size: 2em;
    }

    .text-num{
        width: 40px;
        height: 40px;
        text-align: center;
       margin: auto;
    }

    .black-flex {
        text-align: center;
    }

    }